{% extends "base.html" %}

{% block title %}Activate Account | MockCBT{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="auth-card">
        <p class="hero-label">ACCOUNT ACTIVATION</p>

        <h2>Activate Your Access</h2>

        <p>
            To unlock full CBT practice access, enter your activation code below.
        </p>

        <!--        <div class="payment-box">-->
        <!--            <h5>Activation Fee: ₦2,000</h5>-->
        <!--            <p class="mb-1">Pay and send proof of payment to receive your code.</p>-->
        <!--            <a href="https://wa.me/2348061755808?text=Hello%2C%20I%20want%20to%20activate%20my%20MockCBT%20account."-->
        <!--               class="payment-link"-->
        <!--               target="_blank">-->
        <!--                Chat on WhatsApp-->
        <!--            </a>-->
        <!--        </div>-->
        <div class="payment-box">
            <p class="early-bird-label">EARLY BIRD OFFER</p>

            <h5>
                <span class="old-price">₦2,000</span>
                <span class="new-price">₦1,500</span>
            </h5>

            <p class="mb-1">
                Pay the early bird activation fee and send proof of payment to receive your code.
            </p>

            <a href="https://wa.me/2348035760418?text=Hello%2C%20I%20want%20to%20activate%20my%20MockCBT%20account."
               class="payment-link"
               target="_blank">
                Chat on WhatsApp
            </a>

            <p class="account-warning mt-3">
                Access is for one user only. Sharing login details may cause your account to be logged out
                automatically.
            </p>
        </div>

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <input type="text"
                   name="activation_code"
                   class="form-control mb-3 text-uppercase"
                   placeholder="Enter activation code"
                   required>

            <button class="btn btn-gold w-100">
                Activate Account
            </button>
        </form>
    </div>
</section>
{% endblock %}